{% load comments %}
{% load sidebar_tags %}

{% get_comment_list for winnow.transientcandidate tc_id as comment_list %}
--------------------------------------------------------

{% for comment in comment_list %}
{% get_userprofile comment.user_name as userprofile %}
<br>
{% if userprofile.picture %}
    <a href="{{ userprofile.picture.normal.url }}"><img src="{{ userprofile.picture.thumbnail.url }}"/></a><br>
{% else %}
    <a href="/media/profile_images/default.normal.png"><img src="/media/profile_images/default.thumbnail.png"/></a><br>
{% endif %}
<p>Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
<p>Comment: {{ comment.comment }}</p>
--------------------------------------------------------
{% endfor %}
