{% load comments %}
{% load winnow_tags %}

{% get_comment_list for winnow.transientcandidate object.pk as comment_list %}
<hr width="90%" align="left">
{% for comment in comment_list %}
{% get_userprofile comment.user_name as userprofile %}
<br>
<a href="{% url 'profile_detail' comment.user_name %}">
{% if userprofile.picture %} <img src="{{ userprofile.picture.thumbnail.url }}" align=absmiddle/>
{% else %} <img src="/media/profile_images/default.thumbnail.png" align=absmiddle/>
{% endif %}
</a>
<i>Posted by: 
<a href="{% url 'profile_detail' comment.user_name %}">{{ comment.user_name }}</a> 
on {{ comment.submit_date }}</i>
<br clear=all>
<blockquote><p>{{ comment.comment }}</p></blockquote>
<hr width="90%" align="left">
{% endfor %}
