{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Winnow - About Page{% endblock %}

{% block content %}

<section id="content">
	<h2>About</h2>
	<p>Motivated by the need for a dedicated optical follow-up instrument for aLIGO/AdVirgo, scientists from The University of Texas at Brownsville, the Universidad Nacional de Cordoba and Texas A&M University have partnered to develop an astronomical observatory in the Southern hemisphere.</p> 
	<p>The site at Cordon Macón is located at latitude 24.61 South and longitude 67.32 West, at an altitude of 4,650 meters in the province of Salta, Argentina. The northern province of Salta is located on the other side of the Andes where major European and American astronomical observatories are located in Chile in the vast region on both sides of the Andes called the Atacama Puna.
	</p>
	<p>
		The location has ideal conditions of humidity and air turbulence, which create almost perfect astronomical seeing (a technical term which, on a given night at a given location, describes how much the Earth’s atmosphere perturbs the images of stars as seen through a telescope). Owing to its location in the Southern hemisphere, it gives the opportunity to observe a region of the sky not visible from the Northern hemisphere. UNC and UTB have signed MOUs to this effect. The provincial government and UNC have already developed roads and infrastructure (internet connectivity and electrical power provided by solar panels).
	</p>
</section>
{% endblock %}