{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Welcome - TOROS training page{% endblock %}

{% block content %}

		<section id="content">

	    <article>
				
			
			<h2>Welcome to the training workshop for TOROS </h2>
			<div class="article-info">Posted on <time datetime="2015-03-23">23 March</time> by <a href=# rel="author">Martin Beroiz</a></div>

            <p>TOROS will need an intelligent agent to differentiate bogus detection from the real ones.</p>
            <p>For that, we need to train the agent by teaching him to learn to classify.
				Your help is needed for this task. Please register an account and log in to start training Jarvis.</p>
				
			<p>This django web app is designed to "winnow the wheat from the chaff" in the Image Difference analysis of astronomical images.</p>

			<p>Image Differencing will leave behind many fake objects due to bad subtraction that will be classified as bogus by a Machine Learning algorithm. This ML algorithm has to be 'trained' with labeled data and this website provides a web interface to generate this training set via human input classification.</p>
			
		<a href="{% url 'rank' %}" class="button">Start Training</a>
		<a href="#" class="button">Register</a>
		<a href="#" class="button">Log In</a>


		
		</article>
	</section>
{% endblock %}