{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Winnow - Login{% endblock %}

{% block content %}
<section id="content">
    <h1>Login</h1>

     <fieldset>
     	<legend>Log in</legend>
    	<form id="login_form" method="post" action="{% url 'login' %}">
		{% csrf_token %}					
		
        <p><label for="name">Username:</label>
        <input name="username" id="name" value="" type="text" /></p>
		
        <p><label for="name">Password:</label>
        <input type="password" name="password" value="" /></p>


        <p><input name="submit" style="margin-left: 150px;" class="formbutton" value="Log in" type="submit" /></p>
        </form>
    </fieldset>

</section>
{% endblock %}
