{% extends 'base.html' %}

{% load staticfiles %}
{% load comments %}
{% load winnow_tags %}

{% block title %}Winnow - Training Page{% endblock %}

{% block content %}
	<section id="content">
	{% if user.is_authenticated %}
		{% if tc_id != -1 %}
			<h1>Rank this transient</h1>
			<img src="{% url 'thumb' tc_id %}">
	
			<form id="page_form" method="post" action="{% url 'rank' %}">
			<input type="hidden" value="{{ tc_id }}" name="tc_id">

			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			<br>
			{% endfor %}
			
			{% get_userprofile user as userprofile %}
			{% if userprofile.picture %}
			    <a href="{{ userprofile.picture.normal.url }}"><img src="{{ userprofile.picture.thumbnail.url }}"/></a><br>
			{% else %}
			    <a href="/media/profile_images/default.normal.png"><img src="/media/profile_images/default.thumbnail.png"/></a><br>
			{% endif %}
			Enter your comment below<br>
			<textarea name="comment" rows="5" cols="50" wrap="soft" maxlength="3000"></textarea>
			<br>
			
			<input type="submit" name="submit" value="Rank Transient" />
			</form>

		{% else %}
			<p>Congratulations! You classified all transients available at the moment.</p>
		{% endif %}
				
	{% else %}
		<p>You need to be logged in to classify objects.</p>
	{% endif %}
	</section>
{% endblock %}