{% extends 'base.html' %}

{% load staticfiles %}
{% load comments %}

{% block title %}Training Page{% endblock %}

{% block content %}
	<section id="content">
	{% if user.is_authenticated %}
		{% if tc_id != -1 %}
			<img src="../thumb/{{ tc_id }}">
			<h1>Select your choice</h1>
	
			<form id="page_form" method="post" action="{% url 'rank' %}">
			<input type="hidden" value="{{ tc_id }}" name="tc_id">

			{% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}

			{% for field in form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}
				{{ field }}
			<br>
			{% endfor %}
			
			Enter your comment below<br>
			<textarea name="comment" rows="5" cols="50" wrap="soft" maxlength="3000"></textarea>
			<br>
			
			<input type="submit" name="submit" value="Rank Transient" />
			</form>
			
			{% get_comment_count for winnow.transientcandidate tc_id as comment_count %}
			<p>{{ comment_count }} comments have been posted.</p>
			{% render_comment_list for winnow.transientcandidate tc_id %}
			
		{% else %}
			<p>Congratulations! You classified all transients available at the moment.</p>
		{% endif %}
				
	{% else %}
		<p>You need to be logged in to classify objects.</p>
	{% endif %}
	</section>
{% endblock %}