{% extends 'base.html' %}

{% load staticfiles %}
{% load comments %}
{% load winnow_tags %}

{% block title %}Winnow - Detail View {{ object.slug }}{% endblock %}
{% block header_extra %}
<script src="{% static "js/d3.v3.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/barplot.css" %}">
{% get_votes_for_object object.pk as votes %}
<script>
var real_votes = {{ votes.real }}
var bogus_votes = {{ votes.bogus }}
var unknown_votes = {{ votes.unknown }}
</script>
{% endblock %}

{% block content %}
	<section id="content">
		<img src="{{ object.subtImg.url }}" width=200px height=200px>
		<br>
		
		<h2>Ranking</h2>
		<div id=barplot>
		</div>
		<script src="{% static 'js/barplot.js' %}"></script>
		
		<h2>Likes</h2>
		{% if interesting_count != 0 %}
		It has been marked interesting {{ interesting_count }} time{%if interesting_count != "1" %}s{% endif %} by:<br>
		<ul style="list-style: none; padding: 0; margin: 0;">
		{% for name in interesting_user_list %}
			<li><a href="{% url 'profile_detail' name %}">{{ name }}</a></li>
		{% endfor %}
	    </ul>
		<br>
		{% endif %}
			
		{% get_comment_count for winnow.transientcandidate object.pk as comment_count %}
		<h2>This object has {{ comment_count }} comment{%if comment_count != "1" %}s{% endif %}</h2>
		{% render_comment_list for winnow.transientcandidate object.pk %}
		<br>
		
		{% if user.is_authenticated %}
		<form id="page_form" method="post" action="{% url 'object_detail' object.pk %}">
		{% csrf_token %}
		<input type="hidden" value="{{ object.pk }}" name="tc_id">
		<p>Enter your comment below</p>
		<textarea name="comment" rows="5" cols="50" wrap="soft" maxlength="3000"></textarea>
		<br>
		<input type="submit" name="submit" value="Comment" />
		</form>
		{% endif %}
		
	</section>
{% endblock %}
