{% extends 'winnow/base.html' %}

{% load staticfiles %}

{% block title %}Winnow - Home{% endblock %}

{% block content %}

		<section id="content">

		<h2>Welcome to the training workshop for TOROS </h2>
		<p>The Transient Optical Robotic Observatory of the South (TOROS) needs your amazing pattern-recognition ability to differentiate between unreal and real image detection.</p>
		<p>Image differencing leaves behind many unreal (bogus) objects due to bad subtraction. Such images will be classified as bogus by a Machine Learning (ML) algorithm. This ML algorithm has to be “trained” with labeled data. This is where you come in. Your classification of, real or bogus images, will generate this training data set.</p>
		<p>As a volunteer on this website, you can become a citizen scientist and citizen researcher, participating in real science and other research. If you think you have made a mistake, do not worry. This project is set up to have more than one volunteer analyzing each piece of data, thereby eliminating the vast majority of human error. Mistakes are a part of the process, and can even help us evaluate the difficulty of the data. As long as everyone does their best, they are helping!</p>
		<p>A short training tutorial is available. Please register and create an account to contribute and collaborate with TOROS.</p>

		<a href="{% url 'winnow:register' %}" class="button">Register</a>
		<a href="{% url 'winnow:login' %}" class="button">Log In</a>
		<a href="{% url 'winnow:rank' %}" class="button">Start Tutorial</a>
		
	</section>
{% endblock %}