{% extends 'winnow/base.html' %}

{% load staticfiles %}
{% load winnow_tags %}

{% block title %}Winnow - Profile Page{% endblock %}

{% block content %}
<section id="content">
	{% if the_userprofile %}
		<div id="profilepic_big" style="float:left; padding:1em; margin-top:1em;">
			{% if the_userprofile.picture %}
				<img src="{{ the_userprofile.picture.normal.url }}" align=left />
			{% else %}
				<img src="/media/profile_images/default.normal.png" align=left />
			{% endif %}
		</div><!-- profilepic_big -->
		<div id="profileInfo" style="float:left; padding:1em; margin-top:1em;">
			<h5 style="display:inline;">Username:</h5> {{ the_userprofile.user.username }} <br>
			{% if the_userprofile.fullname %}<h5 style="display:inline;">Full Name:</h5> {{ the_userprofile.fullname }} <br>{% endif %}
			{% if the_userprofile.affiliation %}<h5 style="display:inline;">Affiliation:</h5> {{ the_userprofile.affiliation }} <br>{% endif %}
			{% if the_userprofile.website %}<h5 style="display:inline;">Personal Website:</h5> <a href="{{ the_userprofile.website }}"> {{ the_userprofile.website }} </a><br>{% endif %}
			{% if the_userprofile.user.username == user.username %}
				<a href="#">Edit profile</a><br>
			{% endif %}
		</div><!-- profileinfo -->
		<div style="clear:both;"></div>
		<p>{{ the_userprofile.user.username }} has ranked {{ the_userprofile.number_of_votes }} transients.</p>
		<h3>My Interesting objects:</h3><br>
		<div style="max-height: 30em; overflow: auto; padding-right: 2em;">
		<ul>
		{% for obj in the_userprofile.interesting_objects %}
		 <li><a href="{% url 'winnow:object_detail' obj.slug %}">{{ obj }}</a></li>
		{% endfor %}
	    </ul>
		</div>

		<h3>My comments:</h3>
		<div style="max-height: 30em; overflow: auto; padding-right: 2em;">
		{% for comment in the_userprofile.comments %}
		<i>On {{ comment.submit_date }}, {{ comment.user }} wrote about object
			<a href="{% url 'winnow:object_detail' comment.content_object.slug %}">
				{{comment.content_object.slug}}
			</a>:
		</i>
		<blockquote><p>{{ comment.comment }}</p></blockquote>
		<hr width="90%" align="left">
		{% endfor %}
		</div>
			
	{% else %}
		<br>
		<h3>Sorry, no profile found.</h3>
	{% endif %}
</section>
{% endblock %}
