{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Winnow - About Page{% endblock %}

{% block content %}

<section id="content">
	<h2>About</h2>
	<p>An astronomical observatory is needed to carry optical observations of potential gravitational source events. For that reason, scientists from the UTRGV , the Universidad Nacional de Cordoba (UNC), and Texas A&M University have partnered to develop an astronomical observatory in the arid highlands of the Southern Hemisphere named Transient Optical Observatory of the South (TOROS).</p>
    <p>TOROS is located at Cordon Macón in the province of Salta, Argentina. Cordon Macón has ideal conditions of humidity and air turbulence which create almost perfect astronomical seeing. Astronomical seeing is a technical term that describes how much of the Earth’s atmosphere perturbs the images of stars as seen through a telescope at a given night at a given location. This Southern Hemisphere astronomical observatory provides an opportunity to observe a region of the sky not visible from the Northern Hemisphere.
	</p>
</section>
{% endblock %}