{% extends 'base.html' %}

{% load staticfiles %}
{% load comments %}
{% load winnow_tags %}

{% block title %}Winnow - Training Page{% endblock %}

{% block content %}
	<section id="content">
	{% if user.is_authenticated %}
	{% if object %}
	<h1 style="margin-top:1em;">Is this a real transient?</h1>
	<div id="all_plots" style="width:90%; margin:1em auto; background-color:#eee; border:2px outset #aaa; display:inline-block; border-radius:10px">
		<div id="orig" class="plot">
			<img src="{{ object.origImg.normal.url }}" width=100%/>
			<h5 style="text-align:center;">Candidate</h5>
		</div><!--orig-->
		<div id="ref" class="plot">
			<img src="{{ object.refImg.normal.url }}" width=100%/>
			<h5 style="text-align:center;">Reference</h5>
		</div><!--ref-->
		<div id="subtraction" class="plot">
			<img src="{{ object.subtImg.normal.url }}" width=100%/>
			<h5 style="text-align:center;">Subtraction</h5>
		</div><!--subtraction-->
	</div><!-- all_plots -->

	<div style="clear:both;"></div>

    {% get_sep_info object.slug as sep_dict %}
    <h5>Meta data</h5>
    <div id="SEPInfoBox" style="width:50%; padding:0.5em; border:1px solid #000; border-radius:5px; background-color:#ddd;">
    {% if sep_dict.sep %}
        <b>id:</b> {{ object.slug }}</br>
        <b>file:</b> {{ object.filename }}</br>
        <b>RA:</b> {{ object.ra|floatformat:2}} deg.</br>
        <b>Dec:</b> {{ object.dec|floatformat:2 }} deg.</br>
        <b>mag (candidate):</b> {{ object.mag_orig|floatformat:2 }}</br>
        <b>a:</b> {{ sep_dict.sep.a|floatformat:2 }}</br>
        <b>b:</b> {{ sep_dict.sep.b|floatformat:2 }}</br>
        <b>fwhm (x):</b> {{ sep_dict.sep_extra.fwhm_x|floatformat:2 }} px</br>
        <b>fwhm (y):</b> {{ sep_dict.sep_extra.fwhm_y|floatformat:2 }} px</br>
        <b>flags:</b>
        <ul>
        {% for aflag in sep_dict.sep_extra.flags %}
            <li>{{ aflag }}</li>
        {% empty %}
            None
        {% endfor %}
        </ul>
        Query this object on <a href="{{ sep_dict.sep_extra.simbad_url }}" target="_blank">Simbad</a>
        </br>
    {% else %}
        This object does not have meta information.
    {% endif %}
    </div>

	<form id="page_form" method="post" action="{% url 'rank' %}">
	<div id="form_widgets" style="padding:1em;">
		<style type="text/css">
			#id_rank {
				list-style-type: none;
				display:inline;
			}
			#id_rank li {
				display:inline;
				margin:0px 1em;
			}
		</style>

		<input type="hidden" value="{{ object.pk }}" name="tc_id">

		{% csrf_token %}
		{% for hidden in form.hidden_fields %}
			{{ hidden }}
		{% endfor %}

		{% for field in form.visible_fields %}
			<div style="border-bottom:1px #ddd solid; padding:1em;">
			{{ field.errors }}
			{% if field.name == "isInteresting" %}
				<h5 style="display:inline;">{{ field.help_text }}:</h5>
			{% else %}
				<h5>{{ field.help_text }}:</h5>
			{% endif %}
			{{ field }}
			</div>
		{% endfor %}

	</div><!-- form_widgets -->

	<div id="add_comment" style="padding:1em;">
		You can add a comment below<br>
		{% get_userprofile user as userprofile %}
		{% if userprofile.picture %}
			<div class="profilethumb" style="background-image:url({{ userprofile.picture.thumbnail.url }}); float:left; margin:0.3em"></div>
		{% else %}
			<div class="profilethumb" style="background-image:url(/media/profile_images/default.normal.png); float:left; margin:0.3em"></div>
		{% endif %}
		<textarea name="comment" rows="5" cols="50" wrap="soft" maxlength="3000" style="float:left; display:inline-block; height:50px; margin:0.3em;"></textarea>
	</div><!-- add_comment -->
	<div style="clear:both;"></div>
	<br>
	<input type="submit" class="formbutton" name="submit" value="Rank Transient" />
	
	</form>

	{% else %}
		<p>Congratulations! You classified all transients available at the moment.</p>
	{% endif %}
				
	{% else %}
		<p>You need to be logged in to classify objects.</p>
	{% endif %}
	</section>
{% endblock %}