{% extends 'base.html' %}

{% load staticfiles %}
{% load comments %}
{% load winnow_tags %}

{% block title %}Winnow - Detail View {{ object.slug }}{% endblock %}
{% block header_extra %}
<script src="{% static "js/d3.v3.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "css/barplot.css" %}">
{% get_votes_for_object object.pk as votes %}
<script>
var real_votes = {{ votes.real }}
var bogus_votes = {{ votes.bogus }}
var unknown_votes = {{ votes.unknown }}
</script>
{% endblock %}

{% block content %}
	<section id="content">

    <div id="all_plots" style="width:90%; margin:1em auto; background-color:#eee; border:2px outset #aaa; display:inline-block; border-radius:10px;">
    	<div id="orig" class="plot">
    		<img src="{{ object.origImg.normal.url }}" width=100%/>
    		<h5 style="text-align:center;">Original Image</h5>
    	</div><!--orig-->
    	<div id="ref" class="plot">
    		<img src="{{ object.refImg.normal.url }}" width=100%/>
    		<h5 style="text-align:center;">Reference Image</h5>
    	</div><!--ref-->
    	<div id="subtraction" class="plot">
    		<img src="{{ object.subtImg.normal.url }}" width=100%/>
    		<h5 style="text-align:center;">Subtraction Image</h5>
    	</div><!--subtraction-->
    </div><!-- all_plots -->

    {% get_sep_info object.slug as sep_dict %}
    <h5>Meta data</h5>
    <div id="SEPInfoBox" style="width:50%; padding:0.5em; margin-bottom:0.5em; border:1px solid #000; border-radius:5px; background-color:#ddd;">
    {% if sep_dict.sep %}
        <b>id:</b> {{ object.slug }}</br>
        <b>from file:</b> {{ object.filename }}</br>
        <b>a:</b> {{ sep_dict.sep.a }}</br>
        <b>b:</b> {{ sep_dict.sep.b }}</br>
        <b>excess flux:</b> {{ sep_dict.sep.flux }} counts</br>
        <b>fwhm (x):</b> {{ sep_dict.sep_extra.fwhm_x }} px</br>
        <b>fwhm (y):</b> {{ sep_dict.sep_extra.fwhm_y }} px</br>
        <b>flags:</b> {{ sep_dict.sep.flag }}</br>
        {% for aflag in sep_dict.sep_extra.flags %}
            {{ aflag }}</br>
        {% endfor %}
    {% else %}
        This object does not have meta information.
    {% endif %}
    </div>

	
	<h5>Ranking</h5>
	<div id=barplot>
	</div>
	<script src="{% static 'js/barplot.js' %}"></script>
	
	<h5>Likes</h5>
		{% if interesting_count != 0 %}
		It has been marked interesting {{ interesting_count }} time{%if interesting_count != "1" %}s{% endif %} by:<br>
		<ul style="list-style: none; padding: 0; margin: 0;">
		{% for name in interesting_user_list %}
			<li><a href="{% url 'profile_detail' name %}">{{ name }}</a></li>
		{% endfor %}
	    </ul>
		<br>
		{% endif %}
			
		{% get_comment_count for winnow.transientcandidate object.pk as comment_count %}
		<h5>This object has {{ comment_count }} comment{%if comment_count != "1" %}s{% endif %}</h5>
		{% render_comment_list for winnow.transientcandidate object.pk %}
		<br>
		
		{% if user.is_authenticated %}
		<form id="page_form" method="post" action="{% url 'object_detail' object.slug %}">
		{% csrf_token %}
		<input type="hidden" value="{{ object.pk }}" name="tc_id">
		<p>Enter your comment below</p>
		<textarea name="comment" rows="5" cols="50" wrap="soft" maxlength="3000"></textarea>
		<br>
		<input type="submit" name="submit" value="Comment" />
		</form>
		{% endif %}
		
	</section>
{% endblock %}
