<!DOCTYPE html>
<html>
<body>
TOROS Collaboration observation for the LVC alert {{alert}} on {{alert.datetime.date}}
<br><br>

{% for obs, assignments in observed_per_obs %}
<p>{{obs.name}}:</p>
Lat: {{obs.latitude}}, Long: {{obs.longitude}}
{% if assignments %}
<ul>
{% for assgn in assignments %}
<li>{{assgn.target}}: RA: {{assgn.target.ra}} deg Dec: {{assgn.target.dec}} deg</li>
{% endfor %}
</ul>
{% else %}
<ul>
<li>No observations for this telescope.</li>
</ul>
{% endif %}
<br>
{% endfor %}


</body>
</html>
