<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}TOROS Broker{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
    function mtofeet(x) {return 3.2808399 * x;}
    function intcomma(x) {return x.replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
    </script>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">TOROS Broker</a>
            </div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active dropdown">
                  <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                      {{the_alert}}
                  <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      {% for alert in alerts %}
                         <li><a href="{% url 'broker:alert_detail' alert.grace_id %}">
                             {{alert}} ({{alert.datetime | date:"N j, Y"}})</a></li>
                      {% endfor %}
                  </ul>
                </li>
                <li><a href="{% url 'broker:upload' %}">Upload Targets</a></li>
                  <li><a href="{% url 'broker:circular' the_alert.grace_id %}">Generate Circular</a></li>
                </ul>

            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav navbar-right">
                <li>
                    {% if user.is_active %}
                    <div class="btn-group">
                      <a href="{% url 'winnow:profile_detail' user.username %}" type="button" class="btn btn-primary btn-sm">
                        {{ user.username }}
                      </a>
                      <a href="{% url 'winnow:logout' %}" type="button" class="btn btn-danger btn-sm">Log out</a>
                    </div>
                    {% else %}
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#loginmodal">Login</button>
                      <a href="{% url 'winnow:register' %}" type="button" class="btn btn-success btn-sm">Sign Up!</a>
                    </div>
                    {% include "rbmanager/login_form.html" %}
                    {% endif %}
                </li>
              </ul class="nav navbar-nav navbar-right">
            </div class="collapse navbar-collapse" id="myNavbar">
        </div class="container-fluid">
    </nav class="navbar navbar-inverse">


<div class="container-fluid">

{% load humanize %}

<div class="container">
<h1>Assignments for the LVC alert {{the_alert}}</h1>


<div class="well">
<h1>Guidelines</h1>
<p>The ranking by observatory is shown in the following tables, once a target is selected for observation please check the 'Selected' checkbox,
once the images are completely taken then check the 'Observed' checkbox.</p>
</div>


<div class="panel panel-primary">
  <div class="panel-heading">Selected targets for all observatories</div>
  <div class="panel-body">
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th class="col-sm-1">PGC</th>
                <th class="col-md-1">Name</th>
                <th class="col-md-1">RA</th>
                <th class="col-md-1">Dec</th>
                <th class="col-md-1">Apparent Magnitude</th>
                <th class="col-sm-1">Absolute Magnitude</th>
                <th class="col-sm-1">Distance (MPc)</th>
                <th class="col-sm-1">Localization probability</th>
                <th class="col-sm-1">Selected</th>
                <th class="col-sm-1">Observed</th>
                <th class="col-sm-1">Observation date/time</th>
                <th class="col-sm-1">Observatory</th>
              </tr>
            </thead>
      <tbody>
          {% for asg in all_assingments %}
             <tr>
              <td>{{asg.target.pgc}}</td>
              <td>{{asg.target.name}}</td>
              <td>{{asg.target.ra}}</td>
              <td>{{asg.target.dec}}</td>
              <td>{{asg.target.app_mag }}</td>
              <td>{{asg.target.abs_mag}}</td>
              <td>{{asg.target.dist}}</td>
              <td>{{asg.probability|stringformat:".3e"}}</td>
              <td>
                <div align="center">
                <input type="checkbox" name="istaken" {% if asg.is_taken %}checked{% endif %} disabled>
                </div>
              </td>
              <td>
                <div align="center">
                <input type="checkbox" name="istaken" {% if asg.was_observed %}checked{% endif %} disabled>
                </div>
              </td>
              <td></td>
              {% if asg.observatory.short_name %}
              <td>{{asg.observatory.short_name}}</td>
              {% else %}
              <td>{{asg.observatory}}</td>
              {% endif %}
             </tr>
          {% endfor %}
      </tbody>
   </table>
</div class="table-responsive">
<p>Total observed galaxies: {{observed_targets}}</p>
<p>Total ongoing galaxy observations: {{selected_targets}}</p>
</div class="panel-body">
</div class="panel panel-primary">



{% for obs, assignments_obs in assn_per_obs %}
<div class="panel panel-primary">
  <div class="panel-heading">{{obs.name}}{% if obs.short_name %} ({{obs.short_name}}){% endif %}
    at {{obs.city}}, {{obs.country}}</div>
  <div class="panel-body">
      <p>Geo long: {{obs.longitude}} lat: {{obs.latitude}}
        Elevation: {{obs.elevation|floatformat:0|intcomma}} m (<span id="obs{{obs.id}}">None</span> ft)
      </p>
      <script>
      document.getElementById("obs{{obs.id}}").innerHTML = intcomma(mtofeet({{obs.elevation}}).toFixed(0))
      </script>
      {% if not assignments_obs %}
      <p>No targets for this observatory.</p>
      {% else %}
      <p>WARNING: A red background means that the target was selected by another observatory.</p>
      <form method="post" action="{% url 'broker:index' %}">
      <input type="hidden" value="{{ the_alert.pk }}" name="alert_id">
      <input type="hidden" value="{{ obs.pk }}" name="obs_id">
      {% csrf_token %}
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="col-sm-1">PGC</th>
                <th class="col-md-1">Name</th>
                <th class="col-md-1">RA</th>
                <th class="col-md-1">Dec</th>
                <th class="col-md-1">Apparent Magnitude</th>
                <th class="col-sm-1">Absolute Magnitude</th>
                <th class="col-sm-1">Distance (MPc)</th>
                <th class="col-sm-1">Localization probability</th>
                <th class="col-sm-1">Selected</th>
                <th class="col-sm-1">Observed</th>
                <th class="col-sm-1">Observation date/time</th>
              </tr>
            </thead>
          <tbody>
            {% for asg in assignments_obs %}
            {% if asg.flag_unavailable %}
            <tr style="background-color: #ffe6e6;">
                {% else %}
            <tr>
                {% endif %}
             <td>{{asg.target.pgc}}</td>
             <td>{{asg.target.name}}</td>
             <td>{{asg.target.ra}}</td>
             <td>{{asg.target.dec}}</td>
             <td>{{asg.target.app_mag }}</td>
             <td>{{asg.target.abs_mag}}</td>
             <td>{{asg.target.dist}}</td>
             <td>{{asg.probability|stringformat:".3e"}}</td>
             <td>
               <div align="center">
               <input type="checkbox" name="istaken" {% if asg.is_taken %}checked{% endif %} disabled>
               </div>
             </td>
             <td>
               <div align="center">
               <input type="checkbox" name="istaken" {% if asg.was_observed %}checked{% endif %} disabled>
               </div>
             </td>
             <td></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div class="table-responsive">
<input type="button" class="btn btn-primary" value="Submit" />
</form>
</div class="panel-body">
</div class="panel panel-primary">

{% endif %}
{% endfor %}


<footer>
Copyright The TOROS project 2016
</footer>


</div class="container-fluid">

</div>

</body>
</html>
