<!DOCTYPE html>
<html>
<head>
<style>
header {
    background-color:#104E8B;
    color:white;
    text-align:center;
    padding:5px;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
section {
    width:650px;
    float:center;
    padding:10px;
}
footer {
    background-color:#104E8B;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
table.tableizer-table {
    font-size: 11px;
    border: 1px solid #CCC; 
    font-family: Arial, Helvetica, sans-serif;
} 
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}
.tableizer-table th {
    background-color: #104E8B; 
    color: #FFF;
    font-weight: bold;
}
</style>
<script>
function mtofeet(x) {return 3.2808399 * x;}
function intcomma(x) {return x.replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
</script>
</head>
<body>

{% load humanize %}

<header>
<h1>Assignments for the LVC alert {{alert}}</h1>
</header>

<p>You are logged in as <a href="#">{{ request.user }}</a> | <a href="{% url 'broker:logout' %}">Log out</a></p>
{% if is_admin %}
<p><a href="{% url 'broker:upload' %}">Upload targets</a> | <a href="{% url 'broker:circular' %}">Generate circular</a></p>
{% endif %}


<section>
<h1>Guidelines</h1>
<p>The ranking by observatory is shown in the following tables, once a target is selected for observation please check the 'Selected' checkbox,
once the images are completely taken then check the 'Observed' checkbox.</p>
</section>


<div style="padding: 1em;">
<h1>Selected targets for all observatories</h1>
<div style="max-height: 30em; width: auto; overflow: auto;">
<table class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th>PGC</th>
    <th>Name</th>
    <th>RA</th>
    <th>Dec</th>
    <th>Type</th>
    <th>App_Mag</th>
    <th>Maj_Diam (a)</th>
    <th>err_Maj_Diam</th>
    <th>Min_Diam (b)</th>
    <th>err_Min_Diam</th>
    <th>b/a</th>
    <th>err_b/a</th>
    <th>PA</th>
    <th>Abs_Mag</th>
    <th>Dist</th>
    <th>err_Dist</th>
    <th>err_App_Mag</th>
    <th>err_Abs_Mag</th>
    <th>P_{ig}</th>
    <th>Selected</th>
    <th>Observed</th>
    <th>Observation date/time</th>
    <th>Observatory</th>
</tr>
</thead>
<tbody>
    {% for asg in all_assingments %}
 <tr>
  <td>{{asg.target.pgc}}</td>
  <td>{{asg.target.name}}</td>
  <td>{{asg.target.ra}}</td>
  <td>{{asg.target.dec}}</td>
  <td>{{asg.target.type }}</td>
  <td>{{asg.target.app_mag }}</td>
  <td>{{asg.target.maj_diam_a }}</td>
  <td>{{asg.target.err_maj_diam}}</td>
  <td>{{asg.target.min_diam_b}}</td>
  <td>{{asg.target.err_min_diam}}</td>
  <td>{{asg.target.b_over_a}}</td>
  <td>{{asg.target.err_b_over_a}}</td>
  <td>{{asg.target.pa}}</td>
  <td>{{asg.target.abs_mag}}</td>
  <td>{{asg.target.dist}}</td>
  <td>{{asg.target.err_dist}}</td>
  <td>{{asg.target.err_app_mag}}</td>
  <td>{{asg.target.err_abs_mag}}</td>
  <td>{{asg.probability|stringformat:".3e"}}</td>
  <td>
    <div align="center">
    <input type="checkbox" name="istaken" {% if asg.is_taken %}checked{% endif %} disabled>
    </div>
  </td>
  <td>
    <div align="center">
    <input type="checkbox" name="istaken" {% if asg.was_observed %}checked{% endif %} disabled>
    </div>
  </td>
  <td></td>
  {% if asg.observatory.short_name %}
  <td>{{asg.observatory.short_name}}</td>
  {% else %}
  <td>{{asg.observatory}}</td>
  {% endif %}
 </tr>
    {% endfor %}
</tbody>
</table>
</div><!--scrollable-->

{% comment %}
<button type="button" >&lt&lt Back</button><button type="button" >Next &gt&gt </button>
{% endcomment %}
<p>Total of observed galaxies: {{observed_targets}}</p>
<p>Total of ongoing galaxy observations: {{selected_targets}}</p>
</div><!-- padding -->


{% for obs, assignments_obs in assn_per_obs %}
<div style="padding: 1em;">
<h1>{{obs.name}}{% if obs.short_name %} ({{obs.short_name}}){% endif %}
  at {{obs.city}}, {{obs.country}}</h1>
<p>Geo long: {{obs.longitude}} lat: {{obs.latitude}}
  Elevation: {{obs.elevation|floatformat:0|intcomma}} m (<span id="obs{{obs.id}}">None</span> ft)
</p>
<script>
document.getElementById("obs{{obs.id}}").innerHTML = intcomma(mtofeet({{obs.elevation}}).toFixed(0))
</script>
{% if not assignments_obs %}
<p>No targets for this observatory.</p>
{% else %}
<p>WARNING: A red background means that the target was selected by another observatory.</p>
<form method="post" action="{% url 'broker:update' %}">
<input type="hidden" value="{{ obs.pk }}" name="obs_id">
{% csrf_token %}
<div style="max-height: 30em; width: auto; overflow: auto;">
<table class="tableizer-table">
<thead>
  <tr class="tableizer-firstrow">
    <th>PGC</th>
    <th>Name</th>
    <th>RA</th>
    <th>Dec</th>
    <th>Type</th>
    <th>App_Mag</th>
    <th>Maj_Diam (a)</th>
    <th>err_Maj_Diam</th>
    <th>Min_Diam (b)</th>
    <th>err_Min_Diam</th>
    <th>b/a</th>
    <th>err_b/a</th>
    <th>PA</th>
    <th>Abs_Mag</th>
    <th>Dist</th>
    <th>err_Dist</th>
    <th>err_App_Mag</th>
    <th>err_Abs_Mag</th>
    <th>P_{ig}</th>
    <th>Selected</th>
    <th>Observed</th>
    <th>Observation date/time</th>
</tr>
</thead>
<tbody>
{% for asg in assignments_obs %}
{% if asg.flag_unavailable %}
<tr style="background-color: #ffe6e6;">
{% else %}
<tr>
{% endif %}
  <td>{{asg.target.pgc}}</td>
  <td>{{asg.target.name}}</td>
  <td>{{asg.target.ra}}</td>
  <td>{{asg.target.dec}}</td>
  <td>{{asg.target.type }}</td>
  <td>{{asg.target.app_mag }}</td>
  <td>{{asg.target.maj_diam_a }}</td>
  <td>{{asg.target.err_maj_diam}}</td>
  <td>{{asg.target.min_diam_b}}</td>
  <td>{{asg.target.err_min_diam}}</td>
  <td>{{asg.target.b_over_a}}</td>
  <td>{{asg.target.err_b_over_a}}</td>
  <td>{{asg.target.pa}}</td>
  <td>{{asg.target.abs_mag}}</td>
  <td>{{asg.target.dist}}</td>
  <td>{{asg.target.err_dist}}</td>
  <td>{{asg.target.err_app_mag}}</td>
  <td>{{asg.target.err_abs_mag}}</td>
  <td>{{asg.probability|stringformat:".3e"}}</td>
  <td>
    <div align="center">
    <input type="checkbox" name="istaken[]" {% if asg.is_taken %}checked{% endif %} value="{{asg.pk}}">
    </div>
  </td>
  <td>
    <div align="center">
    <input type="checkbox" name="wasobserved[]" {% if asg.was_observed %}checked{% endif %} value="{{asg.pk}}">
    </div>
  </td>
  <td></td>
{% endfor %}
</tbody>
</table>
</div><!--scrollable-->
{% comment %}
<button type="button" >&lt&lt Back</button>
<button type="button" >Next &gt&gt</button>
{% endcomment %}
<input type="submit" class="button" value="Submit" />

</form>
{% endif %}
</div><!-- padding -->
{% endfor %}


<footer>
Copyright The TOROS project 2016
</footer>

</body>
</html>
