<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>{% block title %}TOROS Broker{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
    function mtofeet(x) {return 3.2808399 * x;}
    function intcomma(x) {return x.replace(/\B(?=(\d{3})+(?!\d))/g, ",");}
    </script>
    <script>
    function raDeg2Hms(ra) {
        var prefix = ''
        var deg = +ra
        if (deg < 0) {
            prefix = '-'
            deg = Math.abs(deg)
        }
        var hour = Math.floor(deg / 15)
        var min = Math.floor(((deg / 15) - hour) * 60)
        var sec = ((((deg / 15) - hour) * 60) - min) * 60
        sec = Math.floor(sec * 100) / 100
        return prefix + [hour, min, sec].join(':')
    }

    function columnConvert_raHourangle2hhmmss_bkp(table_id) {
        var table = document.getElementById(table_id);
        for (var i = 1, row; row = table.rows[i]; i++) {
            var rah = row.cells[2].innerHTML
            row.cells[2].innerHTML = raDeg2Hms(rah * 15)
        }
    }

    function set_column_ra_hms(table_id) {
        var table = document.getElementById(table_id);
        for (var i = 1, row; row = table.rows[i]; i++) {
            row.cells[2].innerHTML = ra_hourangle[table_id]['hms'][i - 1]
        }
    }

    function set_column_ra_hourangle(table_id) {
        var table = document.getElementById(table_id);
        for (var i = 1, row; row = table.rows[i]; i++) {
            row.cells[2].innerHTML = ra_hourangle[table_id]['hour'][i - 1]
        }
    }
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">TOROS Broker</a>
            </div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="active dropdown">
                    <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                        {{the_alert}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for alert in alerts %}
                        <li><a href="{% url 'broker:alert_detail' alert.grace_id %}">
                            {{alert}} ({{alert.datetime | date:"N j, Y"}})</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a data-toggle="modal" data-target="#circularUploadModal">Upload Targets</a></li>
                <li><a href="{% url 'broker:circular' the_alert.grace_id %}" target=_blank>Generate Circular</a></li>
            </ul>

            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if user.is_active %}
                        <div class="btn-group">
                            <a href="{% url 'winnow:profile_detail' user.username %}" type="button" class="btn btn-primary navbar-btn">
                                {{ user.username }}
                            </a>
                            <a href="{% url 'winnow:logout' %}" type="button" class="btn btn-danger navbar-btn">Log out</a>
                        </div>
                        {% endif %}
                    </li>
                </ul class="nav navbar-nav navbar-right">
            </div class="collapse navbar-collapse" id="myNavbar">
        </div class="container-fluid">
    </nav class="navbar navbar-inverse">


    <!-- Modal to upload targets manually -->
    <div id="circularUploadModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Targets Upload</h4>
                </div>
                <div class="modal-body">
                    <form method='post' action="{% url 'broker:upload' %}">
                        {% csrf_token %}
                        {% if errors %}
                        <span style="color:red;">
                            {% for aline in errors %}
                            <p>{{aline}}</p>
                            {% endfor %}
                        </span>
                        {% endif %}

                        <div class="form-group">
                            <label>Alert</label>
                            <select name="alert">
                                {% for alert in alerts %}
                                <option value="{{alert.pk}}">{{alert}} ({{alert.datetime | date:"N j, Y"}})</option>
                                {% endfor %}
                            </select>
                        </div class="form-group">
                        <p><label>Assignments</label></p>
                        <textarea placeholder="EABA: PGC000004 1.2E-3, UGC12895 0.5E-4, IC5376; Mamalluca: PGC000006 3.2E-5, NGC7802 1.1E-2, UGC12905 5.2E-6;" cols=40 rows=10 name="assignments"></textarea>
                        <p>
                            <input type='submit' class="btn btn-primary"/>
                        </p>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        {% load humanize %}
        <div class="container">
            <h1>Assignments for the LVC alert {{the_alert}}</h1>
            <div class="well">
                <h1>Guidelines</h1>
                <p>The ranking by observatory is shown in the following tables, once a target is selected for observation please check the 'Selected' checkbox,
                    once the images are completely taken then check the 'Observed' checkbox.
                </p>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">Selected targets for all observatories</div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover" id="general_table">
                            <thead>
                                <tr>
                                    <th>PGC</th>
                                    <th>Name</th>
                                    <th class="dropdown">
                                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                            RA <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a onclick="set_column_ra_hourangle('general_table')">hour angle</a></li>
                                            <li><a onclick="set_column_ra_hms('general_table')">hh:mm:ss</a></li>
                                        </ul>
                                    </th>
                                    <th class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            Dec <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">degrees</a></li>
                                            <li><a href="#">dd:mm:ss</a></li>
                                        </ul>
                                    </th>
                                    <th>Apparent Magnitude</th>
                                    <th>Absolute Magnitude</th>
                                    <th>Distance (MPc)</th>
                                    <th>Localization probability</th>
                                    <th>Selected</th>
                                    <th>Observed</th>
                                    <th>Observation date/time</th>
                                    <th>Observatory</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for asg in all_assingments %}
                                <tr>
                                    <td>{{asg.target.pgc}}</td>
                                    <td>{{asg.target.name}}</td>
                                    <td>{{asg.target.ra}}</td>
                                    <td>{{asg.target.dec}}</td>
                                    <td>{{asg.target.app_mag }}</td>
                                    <td>{{asg.target.abs_mag}}</td>
                                    <td>{{asg.target.dist}}</td>
                                    <td>{{asg.probability|stringformat:".3e"}}</td>
                                    <td>
                                        <div align="center">
                                            <input type="checkbox" name="istaken" {% if asg.is_taken %}checked{% endif %} disabled>
                                        </div>
                                    </td>
                                    <td>
                                        <div align="center">
                                            <input type="checkbox" name="istaken" {% if asg.was_observed %}checked{% endif %} disabled>
                                        </div>
                                    </td>
                                    <td></td>
                                    {% if asg.observatory.short_name %}
                                    <td>{{asg.observatory.short_name}}</td>
                                    {% else %}
                                    <td>{{asg.observatory}}</td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div class="table-responsive">
                    <p>Total observed galaxies: {{observed_targets}}</p>
                    <p>Total ongoing galaxy observations: {{selected_targets}}</p>
                </div class="panel-body">
            </div class="panel panel-primary">

            {% for obs, assignments_obs in assn_per_obs %}
            <div class="panel panel-primary">
                <div class="panel-heading">{{obs.name}}{% if obs.short_name %} ({{obs.short_name}}){% endif %}
                    at {{obs.city}}, {{obs.country}}
                </div>
                <div class="panel-body">
                    <p>Geo long: {{obs.longitude}} lat: {{obs.latitude}}
                        Elevation: {{obs.elevation|floatformat:0|intcomma}} m (<span id="obs{{obs.id}}">None</span> ft)
                    </p>
                    <script>
                    document.getElementById("obs{{obs.id}}").innerHTML = intcomma(mtofeet({{obs.elevation}}).toFixed(0))
                    </script>
                    {% if not assignments_obs %}
                    <p>No targets for this observatory.</p>
                    {% else %}
                    <p>WARNING: A red background means that the target was selected by another observatory.</p>
                    <form method="post" action="{% url 'broker:index' %}">
                        <input type="hidden" value="{{ the_alert.pk }}" name="alert_id">
                        <input type="hidden" value="{{ obs.pk }}" name="obs_id">
                        {% csrf_token %}
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" id="table_{{obs.id}}">
                                <thead>
                                    <tr>
                                        <th>PGC</th>
                                        <th>Name</th>
                                        <th class="dropdown">
                                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                                RA <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a onclick="set_column_ra_hourangle('table_{{obs.id}}')">hour angle</a></li>
                                                <li><a onclick="set_column_ra_hms('table_{{obs.id}}')">hh:mm:ss</a></li>
                                            </ul>
                                        </th>
                                        <th class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                Dec <span class="caret"></span>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">degrees</a></li>
                                                <li><a href="#">dd:mm:ss</a></li>
                                            </ul>
                                        </th>
                                        <th>Apparent Magnitude</th>
                                        <th>Absolute Magnitude</th>
                                        <th>Distance (MPc)</th>
                                        <th>Localization probability</th>
                                        <th>Selected</th>
                                        <th>Observed</th>
                                        <th>Observation date/time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for asg in assignments_obs %}
                                    <tr {% if asg.flag_unavailable %}class="danger"{% endif %}>

                                        <td>{{asg.target.pgc}}</td>
                                        <td>{{asg.target.name}}</td>
                                        <td>{{asg.target.ra}}</td>
                                        <td>{{asg.target.dec}}</td>
                                        <td>{{asg.target.app_mag }}</td>
                                        <td>{{asg.target.abs_mag}}</td>
                                        <td>{{asg.target.dist}}</td>
                                        <td>{{asg.probability|stringformat:".3e"}}</td>
                                        <td>
                                            <div align="center">
                                                <input type="checkbox" name="istaken[]" {% if asg.is_taken %}checked{% endif %} value="{{asg.pk}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div align="center">
                                                <input type="checkbox" name="wasobserved[]" {% if asg.was_observed %}checked{% endif %} value="{{asg.pk}}">
                                            </div>
                                        </td>
                                        <td>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div class="table-responsive">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </form>
                    {% endif %}
                </div class="panel-body">
            </div class="panel panel-primary">
            {% endfor %}
        </div class="container">

        <div id="footer">
            <div class="container">
                <p class="text-muted">Copyright The TOROS project 2017</p>
            </div>
        </div>

    </div class="container-fluid">

    <script>
    alltables = document.getElementsByTagName('table')
    var ra_hourangle = {}
    for (var i = 0; i < alltables.length; i++) {
        var table = alltables[i]
        var rahs = []
        var rahmss = []
        for (var j = 1, row; row = table.rows[j]; j++) {
            rah = row.cells[2].innerHTML
            rahms = raDeg2Hms(rah * 15)
            rahs.push(rah)
            rahmss.push(rahms)
        }
        ra_hourangle[alltables[i].id] = {
            'hour': rahs,
            'hms': rahmss,
        }
    }
    </script>

</body>
</html>
