{% extends 'rbmanager/base.html' %}

{% block header_extra %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
{% endblock %}

{% block bodycontent %}

<div class="container-fluid">
    <div class="page-header">
        <h1>Real-Bogus Classifier</h1>
    </div class="page-header">


    <ul class="nav nav-tabs">
      <li class="active"><a href="{% url 'rbmanager:index' %}">Data</a></li>
      <li><a href="#">Upload</a></li>
  </ul>

  <h1>Browse old experiments or input a new one</h1>

    {% if notification.value %}
    <div class="alert alert-{{ notification.type }}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ notification.message }}
    </div>
    {% endif %}

  <div class="panel panel-primary">
      <div class="panel-heading">
        <h6 class="panel-title">        
        <a data-toggle="collapse" href="#enterexp">
        <span class="caret"></span>
        Enter your new experiment here 
        </a>
        </h6>

      </div>
      <div class="panel-collapse collapse" id="enterexp">
      <div class="panel-body">

            <form role="form" method="post" action="{% url 'rbmanager:index' %}">
            {% csrf_token %}
            {% for field in exp_form %}
            <div class="form-group">
            {% if field.field.required %}
                <span class="required">
                {{ field.label_tag }}
                </span>
            {% else %}
                {{ field.label_tag }}
            {% endif %}
            {{ field }}
            {% for error in field.errors %}
                <i>({{ error }})</i>
            {% endfor %}
            </div class="form-group">
            {% endfor %}
            <input name="submit" class="btn btn-default" value="Submit" type="submit" />
            </form>

        </div class="panel-body">
      </div>
  </div class="panel panel-primary">


<div class="panel panel-primary">
  <div class="panel-heading">Latest Experiments</div>
  <div class="panel-body">
    {% if experiment_list %}
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Date</th>
                <th>User</th>
                <th>Dataset</th>
                <th>Algorithm</th>
                <th>Features</th>
                <th>Confusion Matrix
                  <table style="border: 1px solid;">
                    <thead>
                    <tr>
                        <th style="padding: 2px; border-right: 1px solid; background-color: #9cf799; border-bottom: 1px solid;">true reals</td>
                        <th style="padding: 2px; background-color: #f79292; border-bottom: 1px solid;">false reals</td>
                    </tr>
                    <tr>
                        <th style="padding: 2px; border-right: 1px solid; background-color: #f79292; ">false bogus</td>
                        <th style="padding: 2px; background-color: #9cf799;">true bogus</td>
                    </tr>
                </table>
                </th>
                <th>Measures</th>
                <th>Platform</th>
                <th>Description</th>
              </tr>
            </thead>
        <tbody>
            {% for exp in experiment_list %}
          <tr>
            <td>{{ exp.pk }}</td>
            <td>{{ exp.date }}</td>
            <td><a href="{% url 'profile_detail' exp.user %}">{{ exp.user }}</a></td>
            <td>
              <a data-toggle="modal" data-target="#datasetmodal">
                {{ exp.dataset }}
              </a>
                {% include "rbmanager/dataset_modal.html" with dataset_object=exp.dataset %}
            </td>
            <td>{{ exp.alg_name }} </td>
            <td>
              {% for feat in exp.features.all %}
              <a href="#" data-toggle="tooltip" title="{{ feat.description|default_if_none:'No description' }}">
              {% if forloop.last %}{{ feat.name }}{% else %}{{ feat.name }},{% endif %}
              </a>
              {% endfor %}
            </td>
            <td>
                <div class="well" style="width: 100%;">
                <div align=center>
                <table>
                    <tr>
                        <td style="padding: 2px; border-right: 1px solid; border-bottom: 1px solid;">{{ exp.conf_mat_rr }}</td>
                        <td style="padding: 2px; border-bottom: 1px solid;">{{ exp.conf_mat_br }}</td>
                    </tr>
                    <tr>
                        <td style="padding: 2px; border-right: 1px solid;">{{ exp.conf_mat_rb }}</td>
                        <td style="padding: 2px;">{{ exp.conf_mat_bb }}</td>
                    </tr>
                </table>
                </div>
                </div>
            </td>
            <td>
                <p><strong>Recall</strong>: {{ exp.recall|floatformat:2 }}</p>
                <p><strong>Precision</strong>: {{ exp.precision|floatformat:2 }}</p>
                <p><strong>F-measure</strong>: {{ exp.f_measure|floatformat:2 }}</p>
            </td>
            {% if exp.platform == "3" %}
            <td>{{ exp.other_platform_name }} </td>
            {% else %}
            <td>{{ exp.get_platform_display }} </td>
            {% endif %}
            <td>{{ exp.description }}</td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
    </div class="table-responsive">
    {% else %}
    <p>No experiments to show</p>
    {% endif %}
  </div class="panel-body">
</div class="panel panel-primary">

</div class="container-fluid">


<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "2000:2100",
      setDate: +0
    });
  });
  </script>

{% endblock %}
